$body-bg: #000;
$body-color: #707070;
$salmon:#f86c6c;
$cobalt:#2A1E74;
$battleship-grey:#767980;
$coral:#f55249;
$ice-blue:#f8fcff;
$lightish-blue:#377dff;
$blueberry:#3e468f;
$warm-grey:#707070;
$section-padding:60px 0;
