.section-title {
    padding: 15px 0;
    position: relative;
    color: $secondary;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        display: block;
        position: relative;
        font-size: 24px;
        font-weight: 600;
    }

    h1.title-lg,
    h2.title-lg,
    h3.title-lg,
    h4.title-lg {
        font-size: var(--title-lg);
        color: currentColor;
        font-weight: 800;
    }

    h1.title-md,
    h2.title-md,
    h3.title-md,
    h4.title-md {
        font-size: var(--title-md);
    }

    h1.title-sm,
    h2.title-sm,
    h3.title-sm,
    h4.title-sm {
        font-size: var(--title-sm);
        color: currentColor;

    }
}
.sub-title {
    font-size: 18px;
}